*{
    box-sizing: border-box;
    outline: 1px solid red;
}
body{
    font-family: Verdana;
    color: lightblue;
    text-shadow: 4px 4px 0 rgba(0, 0, 0, 0.1);
}
.player{
    background: #f3ebdc;
 
    display: flex;
    align-items:center;
    flex-direction: column;
    height: 100vh;


}
header{
    background-image: url(https://images.pexels.com/photos/956999/milky-way-starry-sky-night-sky-star-956999.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500);

    width: 50vw;
    display: flex;
    justify-content: space-around;
    
    font-size: 25px;
}
main{
/*    margin: 0 10px 0 10px;*/
    width: 50vw;
    background-image: url(https://images.pexels.com/photos/956999/milky-way-starry-sky-night-sky-star-956999.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500);
    display: flex;
    justify-content:space-between ;
    flex-direction: row;
    flex-grow: 1;

}

.tracks{ /*section*/
    /*background-color:#34495e ;*/
    display: flex;
    /*flex-grow:1;*/
    flex-direction: column;
}
section:last-child{
    /*background-color:#34495e ;*/
    display: flex;
    /*flex-grow: 1;*/
    flex-direction: column;
}
section.individul-track{
    /*background-color: slategrey;*/
    display: flex;
   /*justify-content: space-around;*/
    flex-direction: row;
    flex-grow:1;
    align-items: center;
    margin: 0 0 0 25px;
    border-radius: 1vw;
    cursor:pointer ;
}
.individul-track:hover{
    background-color:#16d6e41a;
}
.images{
    margin: 5px;
    align-items: center;
}
.songTitle{
    margin-left: 10px;
    width: 15vw;
    float: right;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /*justify-content: flex-start;*/
}
.icon{
    display: flex;
    align-items:center;
    justify-content: space-around;

 }
.song-info{
    /*margin-top: 30px;*/
    display: flex;
    flex-direction: row;
    flex: 1;
    justify-content:space-around;
    align-items: center;
}
.songAndMovieName{
    display: flex;
    flex-direction: column;
}
#movie{
    width: 150px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    /*align-self: center;*/

}
#song-title{
    color: goldenrod;
    font-size: 10px;
}
.song-title{
    color: goldenrod;
    font-size: 10px;
}

#image1{
    width: 20vw;
    height: 50vh;
    flex-direction: column;
    justify-content: space-around;
    margin: 20px 30px 0 30px;
    /*flex: 3;*/
 }
.song-slider{
    width: 170px;
    margin: 0 5px 0 5px;
}
.time-line{
    display: flex;
    flex: 1;
    justify-content:center;
    align-items: center;
}

.current-time{
    font-size: 10px;
    
}
.duration{
    font-size: 10px;
}
 

.buttons{
    display: flex;
    /*flex-direction: row;*/
    /*height:5vh;*/
    align-items: center;
    justify-content: space-evenly;
    flex: 1;
}
.buttons:hover{
    background-color:#11dd1b1a;
}
.play{
    justify-content: space-around;
}
#play{
    background-color: white;
    font-size: 40px;
    border-radius: 50%;
}
#pre{
    background-color: white;
}
#next{
    background-color: white;
}
#heart{
    background-color: white;
}
#plus{
    background-color: white;
}


